In [1]:
import pandas as pd

In [8]:
# import first dataframe (you can save the games df by running: df.to_csv(r'path/filename', index=False))
df = pd.read_csv('streamer_df_25pages')

In [31]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views,Time Streamed (in hours)
0,#1,NaN,tommyinnit,195782,14.3hours,650237,2806209,2,+334307,5499713,49185807,14.3
1,#2,NaN,Quackity,158364,10.2hours,381550,1620588,4,+198959,3471874,23178122,10.2
2,#3,NaN,Sapnap,129001,9.2hours,287152,1188960,8,+183191,2237876,8740493,9.2
3,#4,NaN,auronplay,113520,109.4hours,313347,12419097,3,+341562,8741858,142994817,109.4
4,#5,NaN,xQcOW,109059,339.9hours,222720,37072768,1,+182238,5776761,361856811,339.9

In [27]:
# getting rows that contain ads out of the way
df = df[df["Time Streamed"].str.contains("ads")==False]
df.shape

In [36]:
# creating a new column that contains hours where we replace all hours with an emptry string and convert numbers in string to float
df['Time Streamed (in hours)'] = df['Time Streamed'].str.replace('hours','').apply(lambda x: float(x))


# do same thing for hours watched
df['Hours Watched'] = df['Hours Watched'].apply(lambda x: float(x))

# do it for every other columns
df['AVG Viewers'] = df['AVG Viewers'].apply(lambda x: int(x))
df['All Time Peak Viewers'] = df['All Time Peak Viewers'].apply(lambda x: int(x))
df['Total Followers'] = df['Total Followers'].apply(lambda x: int(x))
df['Total Views'] = df['Total Views'].apply(lambda x: int(x))
df['Followers Gained'] = df['Followers Gained'].str.replace('+','').apply(lambda x: int(x))
# check if it worked
df.dtypes

<ipython-input-36-4e94a6e11b47>:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Followers Gained'] = df['Followers Gained'].str.replace('+','').apply(lambda x: int(x))

Unnamed: 0                   object
Unnamed: 1                   object
Unnamed: 2                   object
AVG Viewers                   int64
Time Streamed                object
All Time Peak Viewers         int64
Hours Watched               float64
Rank                         object
Followers Gained              int64
Total Followers               int64
Total Views                   int64
Time Streamed (in hours)    float64
dtype: object

In [37]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views,Time Streamed (in hours)
0,#1,NaN,tommyinnit,195782,14.3hours,650237,2806209.0,2,334307,5499713,49185807,14.3
1,#2,NaN,Quackity,158364,10.2hours,381550,1620588.0,4,198959,3471874,23178122,10.2
2,#3,NaN,Sapnap,129001,9.2hours,287152,1188960.0,8,183191,2237876,8740493,9.2
3,#4,NaN,auronplay,113520,109.4hours,313347,12419097.0,3,341562,8741858,142994817,109.4
4,#5,NaN,xQcOW,109059,339.9hours,222720,37072768.0,1,182238,5776761,361856811,339.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1267,#1196,NaN,Zade,2475,93.5hours,30054,231376.0,1218,3889,219786,13019393,93.5
1268,#1197,NaN,AhriNyan,2472,59.1hours,32119,146001.0,1253,15189,793867,25307539,59.1
1269,#1198,NaN,Berlu,2472,127.3hours,18264,314639.0,1114,9168,38356,1549498,127.3
1270,#1199,NaN,큐베123,2470,140.7hours,11142,347497.0,1044,9053,73957,3616166,140.7
1271,#1200,NaN,oMeiaUm,2462,47.1hours,46815,115858.0,1559,29560,301801,2067529,47.1

In [35]:
# try first visualization of correlation
df['Time Streamed (in hours)'].corr(df['Hours Watched'])

0.40060813134749224