In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
# import first dataframe (you can save the games df by running: df.to_csv(r'path/filename', index=False))
df = pd.read_csv('streamer_df')

In [30]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views
0,#1,NaN,tommyinnit,195782,14.3hours,650237,2806209,2,+334307,5499713,49185807
1,#2,NaN,Quackity,158364,10.2hours,381550,1620588,4,+198959,3471874,23178122
2,#3,NaN,Sapnap,129001,9.2hours,287152,1188960,8,+183191,2237876,8740493
3,#4,NaN,auronplay,113520,109.4hours,313347,12419097,3,+341562,8741858,142994817
4,#5,NaN,xQcOW,109059,339.9hours,222720,37072768,1,+182238,5776761,361856811
5,#6,NaN,AdinRoss,107816,83.4hours,254923,8986453,7,+837941,3946089,21778759
6,#7,NaN,WilburSoot,105874,8.3hours,215211,878604,15,+219086,3356385,15913013
7,#8,NaN,ibai,98068,111.1hours,1538645,10898658,5,+321873,6204120,204197597
8,#9,NaN,Tubbo,92966,15.2hours,332671,1408437,17,+179383,3649547,45962620
9,#10,NaN,LCK_Korea,90113,89.3hours,365983,8044086,9,+46689,922251,268647537
10,#11,NaN,RanbooLive,87705,106.6hours,346132,9350811,10,+297717,2889972,41353249
11,#12,NaN,RocketLeague,80301,69.2hours,214930,5556826,13,+103074,3162189,245021264
12,#13,NaN,Riot Games,78315,192.2hours,654205,15052113,6,+180549,5145477,1283791496
14,#14,NaN,ThisIsNotGeorgeNotFound,75837,19.4hours,114463,1473757,23,+237958,793752,2026883
15,#15,NaN,Rainbow6,71417,116.3hours,191703,8303362,14,+105674,1993976,83988789
16,#16,NaN,loud_coringa,66990,120.9hours,144537,8101286,16,+153027,1890683,20149102
17,#17,NaN,Flashpoint,66883,125.1hours,128800,8363729,11,+160653,404895,118675590
18,#18,NaN,TheRealKnossi,64403,95.5hours,336065,6151556,19,+95886,1674909,52372343
19,#19,NaN,Rubius,60892,116.1hours,344676,7068535,18,+252579,9188382,177882692
20,#20,NaN,shroud,60253,205hours,516289,12349819,12,+187393,9259582,483658279

In [3]:
# getting rows that contain ads out of the way
df = df[df["Time Streamed"].str.contains("ads")==False]
df.shape

(2450, 11)

# defining Twitter API

In [51]:
consumer_key= ''
consumer_secret='' 
access_token= ''
access_token_secret= ''

# First Tries

## First Tries

In [9]:
user = api.get_user('noway4u_sir')

print(user.screen_name)
print(user.followers_count)
for friend in user.friends():
    print(friend.screen_name)
    print(friend.location)

In [6]:

# Define the search term and the date_since date as variables
search_words = "#shroud"
date_since = "2018-11-16"

# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)
tweets

In [18]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(10)

# Collect a list of tweets
shroud = [tweet.text for tweet in tweets]

In [19]:
shroud

['A must read. #Shroud https://t.co/9iM3QlVPEv',
 'A huge happy bday to @shroud!!! You‚Äôve had (and continue to have!) such a tremendously positive impact on the gamin‚Ä¶ https://t.co/UXhu2hngJz',
 'Visage\n.\nWanted to draw something in ink, and always wanted to do Art Noveau justice. I think i did well this time‚Ä¶ https://t.co/ZY4cRylF8N',
 'Happy Birthday to Shroud @shroud\nhttps://t.co/ZGbPHfXwsp\n#topstarbirthdays #Gemini #birthday #TwitchStar #Shroud‚Ä¶ https://t.co/Una1RQB79X',
 'Happy Birthday Best Fps Player of All Time!\n\n#Shroud  ‚ù§üòéüêê https://t.co/QUobcEf1Le',
 'Happy Birthday @shroud \nSab Logitech ka products ghar courier kardena üòò\n#shroud #c9 https://t.co/K9Ls0lY3cZ',
 '@shroud So badass, wish that whole guild joined my discord server. \n#ShamelessSelfpromoTuesday \n#logitech\n#Shroud\n#Yoofa\n#checkout',
 '#shroud is now streaming #World of Warcraft https://t.co/Z9AuWBNt5p',
 'Happy birthday ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èüéâ@shroud \nHave a good one \n\n#shroud https://t.co/5DvdIOJXWq',
 'RT @NevFailsTV: #Ludwig, #AdinRoss, QTCinderella DRAMA | #Summit1G on #Shroud #xQc Take | #QTCinderella Blasts AdinRoss | StreamerTvüì∫ #Twit‚Ä¶']

In [21]:
tweets = tw.Cursor(api.search, 
                           q=search_words,
                           lang="en",
                           since=date_since).items(15)

users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]
users_locs

[['therealjoshmc', 'Florida, USA'],
 ['GrizzledGamer', ''],
 ['jetromagcale', ''],
 ['topstarbdays', 'USA'],
 ['Virlix1', ''],
 ['jakati68', 'Bengaluru South, India'],
 ['yoofatv', 'Missoula, MT'],
 ['Project410', 'Four Ways'],
 ['Nackb0Y', ''],
 ['NinjaTt91', 'USA'],
 ['RazerTT', ''],
 ['NevFailsTV', 'Twitter UK-US'],
 ['TopLiveonTwitc1', ''],
 ['AurorPhantom', 'Englewood, OH'],
 ['jawbreakarl', 'üáµüá≠']]

In [22]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location"])
tweet_text

               user                location
0     therealjoshmc            Florida, USA
1     GrizzledGamer
2      jetromagcale
3      topstarbdays                     USA
4           Virlix1
5          jakati68  Bengaluru South, India
6           yoofatv            Missoula, MT
7        Project410               Four Ways
8           Nackb0Y
9         NinjaTt91                     USA
10          RazerTT
11       NevFailsTV           Twitter UK-US
12  TopLiveonTwitc1
13     AurorPhantom           Englewood, OH
14      jawbreakarl                      üáµüá≠

## Second Try

In [56]:
# second try
# Define the search term and the date_since date as variables
new_search = "@Noway4u_sir"
date_since = "2018-11-16"

tweets_noway = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(100)

users_locs_2 = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets_noway]
users_locs_2

tweet_text = pd.DataFrame(data=users_locs_2, 
                    columns=['user', "location"])
tweet_text

               user                 location
0            KRMR47   Rheinberg, Deutschland
1     Twitch_Amk251              Deutschland
2   MoSiTingKeWeiDe      Berlin, Deutschland
3     SchnitzelSebl              Deutschland
4       Der_Schaumi
5       Silenceuuu1
6          ZaveeLoL         Potsdam, Germany
7        MxMinority
8        DSchwatzer
9      AlanTheTeemo      Berlin, Deutschland
10         ZaveeLoL         Potsdam, Germany
11           Pruhsi                  Germany
12      CookieLoLxx                   Sweden
13       Vildgaard1
14          Vuffer2
15       xCruel_lol
16          mazeADC                   Bayern
17    DIEMdodoCoach
18    DIEMdodoCoach
19       Forpionlol  Torres Vedras, Portugal
20       GranitPubg
21       Ashyva_LoL
22      EsportsNord
23        granitKMF       Stockholm, Sverige
24     granitgaming        Stockholm, Sweden
25         MuterLoL                  Denmark
26             nyck                  hamburg
27         IntCorax
28       DSchwatzer
29        EhmJaKlar               D√ºsseldorf
30    rammuslover69              Switzerland
31         CHGClone           Olten, Schweiz
32      real_sioser                  Schweiz
33          LeMelar
34           Pruhsi                  Germany
35        Santinus4
36      Saviour_lol
37       pukistyle_
38    vantastisch86
39       OrgelOscar
40      YannickB96_
41     AlanTheTeemo      Berlin, Deutschland
42      BigBossBaem     Hamburg, Deutschland
43   WizardofTruth_

# NLP

In [57]:
def clean_text(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    text = "".join(word for word in text if not word.isdigit()).lower()
    word_tokens = word_tokenize(text)
    text = [w for w in word_tokens if not w in stop_words]
    return ' '.join(text)

In [58]:
tweet_text["clean_location"] = tweet_text.location.apply(lambda x: clean_text(x))

In [63]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
import string
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer
stop_words = set(stopwords.words('german'))

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer


# Tuned TFidfvectorizer
vec = TfidfVectorizer(ngram_range = (2,2), min_df=0.01, max_df = 0.05).fit(tweet_text.clean_location)

vectors = vec.transform(tweet_text.clean_location) # Transform text to vectors

sum_tfidf = vectors.sum(axis=0) # Sum of tfidf weighting by word

tfidf_list = [(word, sum_tfidf[0, idx]) for word, idx in     vec.vocabulary_.items()]  # Get the word and associated weight

sorted_tfidf_list =sorted(tfidf_list, key = lambda x: x[1], reverse=True)  # Sort

sorted_tfidf_list

[('potsdam germany', 2.0),
 ('rheinberg deutschland', 1.0),
 ('stockholm sverige', 1.0),
 ('stockholm sweden', 1.0),
 ('olten schweiz', 1.0),
 ('hamburg deutschland', 1.0),
 ('torres vedras', 0.7071067811865476),
 ('vedras portugal', 0.7071067811865476)]

# Putting everything together

In [48]:
def twitter_user_info(consumer_key, consumer_secret, access_token,access_token_secret, user):
    '''Takes secrets, username on twitter to get twitter username, location of user and follower count'''
    auth = tw.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tw.API(auth, wait_on_rate_limit=True)
    user = api.get_user(user)
    location = user.location
    name = user.screen_name
    follower = user.followers_count
    return pd.DataFrame(data=[[name, location, follower]], columns=['user','location of user', "follower"])

In [ ]:
# def twitter_,,,(consumer_key, consumer_secret, access_token,access_token_secret, user):
#     '''Takes secrets, username on twitter to get twitter username and follower count'''
#     auth = tw.OAuthHandler(consumer_key, consumer_secret)
#     auth.set_access_token(access_token, access_token_secret)
#     api = tw.API(auth, wait_on_rate_limit=True)
#     user = api.get_user(user)
#     name = user.screen_name
#     follower = user.followers_count
#     return pd.DataFrame(data=[[name, follower]], columns=['user', "follower"])

In [46]:
temp = twitter_user_info(consumer_key, consumer_secret, access_token,access_token_secret, 'shroud')

In [47]:
temp

     user location of user  follower
0  shroud  California, USA   1885139

In [49]:
def twitter_viewer_locations(consumer_key, consumer_secret, access_token,access_token_secret, user, date, item_count):
    '''Takes secrets, username on twitter and starting date (format yyyy-mm-dd)'''
    auth = tw.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tw.API(auth, wait_on_rate_limit=True)
    new_search = f"@{user}"
    date_since = f"{date}"

    tweets = tw.Cursor(api.search, 
                               q=new_search,
                               lang="en",
                               since=date_since).items(item_count)

    users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]

    tweet_text = pd.DataFrame(data=users_locs, 
                        columns=['user', "location"])
    return tweet_text

In [26]:
df = twitter_viewer_locations(consumer_key, consumer_secret, access_token,access_token_secret, 'agurinlol', '2018-01-01', 50)

In [27]:
df.location.value_counts()

                            29
Enemy's Nexus                2
J                            1
Sainte-Verge, France         1
Hinter dir (DE)              1
Graz, √ñsterreich             1
Beach mansion in Bristol     1
C√≥rdoba, Espa√±a              1
London, England              1
Dortmund, Deutschland        1
should be in LA              1
Bosnia and Herzegovina       1
ùî±ùî¢ùîûùîØùî∞                        1
Italia                       1
Tokyo‚úàÔ∏èBerlin                1
Berlin, Germany              1
he/himüè≥Ô∏è‚Äç‚ößÔ∏è  intj            1
Harburg, Hamburg             1
Cologne, Germany             1
Ark Cradle                   1
Riverside, CA                1
Name: location, dtype: int64