In [1]:
import os
import tweepy as tw
import pandas as pd
import geograpy

In [2]:
# import first dataframe (you can save the games df by running: df.to_csv(r'path/filename', index=False))
df = pd.read_csv('streamer_df')

In [30]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,AVG Viewers,Time Streamed,All Time Peak Viewers,Hours Watched,Rank,Followers Gained,Total Followers,Total Views
0,#1,NaN,tommyinnit,195782,14.3hours,650237,2806209,2,+334307,5499713,49185807
1,#2,NaN,Quackity,158364,10.2hours,381550,1620588,4,+198959,3471874,23178122
2,#3,NaN,Sapnap,129001,9.2hours,287152,1188960,8,+183191,2237876,8740493
3,#4,NaN,auronplay,113520,109.4hours,313347,12419097,3,+341562,8741858,142994817
4,#5,NaN,xQcOW,109059,339.9hours,222720,37072768,1,+182238,5776761,361856811
5,#6,NaN,AdinRoss,107816,83.4hours,254923,8986453,7,+837941,3946089,21778759
6,#7,NaN,WilburSoot,105874,8.3hours,215211,878604,15,+219086,3356385,15913013
7,#8,NaN,ibai,98068,111.1hours,1538645,10898658,5,+321873,6204120,204197597
8,#9,NaN,Tubbo,92966,15.2hours,332671,1408437,17,+179383,3649547,45962620
9,#10,NaN,LCK_Korea,90113,89.3hours,365983,8044086,9,+46689,922251,268647537
10,#11,NaN,RanbooLive,87705,106.6hours,346132,9350811,10,+297717,2889972,41353249
11,#12,NaN,RocketLeague,80301,69.2hours,214930,5556826,13,+103074,3162189,245021264
12,#13,NaN,Riot Games,78315,192.2hours,654205,15052113,6,+180549,5145477,1283791496
14,#14,NaN,ThisIsNotGeorgeNotFound,75837,19.4hours,114463,1473757,23,+237958,793752,2026883
15,#15,NaN,Rainbow6,71417,116.3hours,191703,8303362,14,+105674,1993976,83988789
16,#16,NaN,loud_coringa,66990,120.9hours,144537,8101286,16,+153027,1890683,20149102
17,#17,NaN,Flashpoint,66883,125.1hours,128800,8363729,11,+160653,404895,118675590
18,#18,NaN,TheRealKnossi,64403,95.5hours,336065,6151556,19,+95886,1674909,52372343
19,#19,NaN,Rubius,60892,116.1hours,344676,7068535,18,+252579,9188382,177882692
20,#20,NaN,shroud,60253,205hours,516289,12349819,12,+187393,9259582,483658279

In [3]:
# getting rows that contain ads out of the way
df = df[df["Time Streamed"].str.contains("ads")==False]
df.shape

(2450, 11)

# defining Twitter API

In [6]:
consumer_key= 'bKibXskdPmTTHlgHu5mRDpLBo'
consumer_secret='KvdpsHm2KbiIeWoJzZVOr0ZND3nyai4wfVcc2VGhyeGdUd56VG' 
access_token= '798115618243411968-fj6xschYkqbNc9VoxMcMiLbrdQI23mX'
access_token_secret= 'OSSL3iLHcUi8zLVsLrwdlMcpijAuoNoovAtzMHZfmSffz'

# First Tries

## First Tries

In [9]:
user = api.get_user('noway4u_sir')

print(user.screen_name)
print(user.followers_count)
for friend in user.friends():
    print(friend.screen_name)
    print(friend.location)

In [6]:

# Define the search term and the date_since date as variables
search_words = "#shroud"
date_since = "2018-11-16"

# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)
tweets

In [18]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(10)

# Collect a list of tweets
shroud = [tweet.text for tweet in tweets]

In [19]:
shroud

['A must read. #Shroud https://t.co/9iM3QlVPEv',
 'A huge happy bday to @shroud!!! You‚Äôve had (and continue to have!) such a tremendously positive impact on the gamin‚Ä¶ https://t.co/UXhu2hngJz',
 'Visage\n.\nWanted to draw something in ink, and always wanted to do Art Noveau justice. I think i did well this time‚Ä¶ https://t.co/ZY4cRylF8N',
 'Happy Birthday to Shroud @shroud\nhttps://t.co/ZGbPHfXwsp\n#topstarbirthdays #Gemini #birthday #TwitchStar #Shroud‚Ä¶ https://t.co/Una1RQB79X',
 'Happy Birthday Best Fps Player of All Time!\n\n#Shroud  ‚ù§üòéüêê https://t.co/QUobcEf1Le',
 'Happy Birthday @shroud \nSab Logitech ka products ghar courier kardena üòò\n#shroud #c9 https://t.co/K9Ls0lY3cZ',
 '@shroud So badass, wish that whole guild joined my discord server. \n#ShamelessSelfpromoTuesday \n#logitech\n#Shroud\n#Yoofa\n#checkout',
 '#shroud is now streaming #World of Warcraft https://t.co/Z9AuWBNt5p',
 'Happy birthday ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èüéâ@shroud \nHave a good one \n\n#shroud https://t.co/5DvdIOJXWq',
 'RT @NevFailsTV: #Ludwig, #AdinRoss, QTCinderella DRAMA | #Summit1G on #Shroud #xQc Take | #QTCinderella Blasts AdinRoss | StreamerTvüì∫ #Twit‚Ä¶']

In [7]:
tweets = tw.Cursor(api.search, 
                           q=search_words,
                           lang="en",
                           since=date_since).items(15)

users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]
users_locs

NameError: name 'api' is not defined

In [22]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location"])
tweet_text

               user                location
0     therealjoshmc            Florida, USA
1     GrizzledGamer
2      jetromagcale
3      topstarbdays                     USA
4           Virlix1
5          jakati68  Bengaluru South, India
6           yoofatv            Missoula, MT
7        Project410               Four Ways
8           Nackb0Y
9         NinjaTt91                     USA
10          RazerTT
11       NevFailsTV           Twitter UK-US
12  TopLiveonTwitc1
13     AurorPhantom           Englewood, OH
14      jawbreakarl                      üáµüá≠

## Second Try

In [56]:
# second try
# Define the search term and the date_since date as variables
new_search = "@Noway4u_sir"
date_since = "2018-11-16"

tweets_noway = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(100)

users_locs_2 = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets_noway]
users_locs_2

tweet_text = pd.DataFrame(data=users_locs_2, 
                    columns=['user', "location"])
tweet_text

               user                 location
0            KRMR47   Rheinberg, Deutschland
1     Twitch_Amk251              Deutschland
2   MoSiTingKeWeiDe      Berlin, Deutschland
3     SchnitzelSebl              Deutschland
4       Der_Schaumi
5       Silenceuuu1
6          ZaveeLoL         Potsdam, Germany
7        MxMinority
8        DSchwatzer
9      AlanTheTeemo      Berlin, Deutschland
10         ZaveeLoL         Potsdam, Germany
11           Pruhsi                  Germany
12      CookieLoLxx                   Sweden
13       Vildgaard1
14          Vuffer2
15       xCruel_lol
16          mazeADC                   Bayern
17    DIEMdodoCoach
18    DIEMdodoCoach
19       Forpionlol  Torres Vedras, Portugal
20       GranitPubg
21       Ashyva_LoL
22      EsportsNord
23        granitKMF       Stockholm, Sverige
24     granitgaming        Stockholm, Sweden
25         MuterLoL                  Denmark
26             nyck                  hamburg
27         IntCorax
28       DSchwatzer
29        EhmJaKlar               D√ºsseldorf
30    rammuslover69              Switzerland
31         CHGClone           Olten, Schweiz
32      real_sioser                  Schweiz
33          LeMelar
34           Pruhsi                  Germany
35        Santinus4
36      Saviour_lol
37       pukistyle_
38    vantastisch86
39       OrgelOscar
40      YannickB96_
41     AlanTheTeemo      Berlin, Deutschland
42      BigBossBaem     Hamburg, Deutschland
43   WizardofTruth_

# NLP

In [57]:
def clean_text(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    text = "".join(word for word in text if not word.isdigit()).lower()
    word_tokens = word_tokenize(text)
    text = [w for w in word_tokens if not w in stop_words]
    return ' '.join(text)

In [58]:
tweet_text["clean_location"] = tweet_text.location.apply(lambda x: clean_text(x))

In [63]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
import string
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer
stop_words = set(stopwords.words('german'))

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer


# Tuned TFidfvectorizer
vec = TfidfVectorizer(ngram_range = (2,2), min_df=0.01, max_df = 0.05).fit(tweet_text.clean_location)

vectors = vec.transform(tweet_text.clean_location) # Transform text to vectors

sum_tfidf = vectors.sum(axis=0) # Sum of tfidf weighting by word

tfidf_list = [(word, sum_tfidf[0, idx]) for word, idx in     vec.vocabulary_.items()]  # Get the word and associated weight

sorted_tfidf_list =sorted(tfidf_list, key = lambda x: x[1], reverse=True)  # Sort

sorted_tfidf_list

[('potsdam germany', 2.0),
 ('rheinberg deutschland', 1.0),
 ('stockholm sverige', 1.0),
 ('stockholm sweden', 1.0),
 ('olten schweiz', 1.0),
 ('hamburg deutschland', 1.0),
 ('torres vedras', 0.7071067811865476),
 ('vedras portugal', 0.7071067811865476)]

# Putting everything together

In [48]:
def twitter_user_info(consumer_key, consumer_secret, access_token,access_token_secret, user):
    '''Takes secrets, username on twitter to get twitter username, location of user and follower count'''
    auth = tw.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tw.API(auth, wait_on_rate_limit=True)
    user = api.get_user(user)
    location = user.location
    name = user.screen_name
    follower = user.followers_count
    return pd.DataFrame(data=[[name, location, follower]], columns=['user','location of user', "follower"])

In [ ]:
# def twitter_,,,(consumer_key, consumer_secret, access_token,access_token_secret, user):
#     '''Takes secrets, username on twitter to get twitter username and follower count'''
#     auth = tw.OAuthHandler(consumer_key, consumer_secret)
#     auth.set_access_token(access_token, access_token_secret)
#     api = tw.API(auth, wait_on_rate_limit=True)
#     user = api.get_user(user)
#     name = user.screen_name
#     follower = user.followers_count
#     return pd.DataFrame(data=[[name, follower]], columns=['user', "follower"])

In [46]:
temp = twitter_user_info(consumer_key, consumer_secret, access_token,access_token_secret, 'shroud')

In [47]:
temp

     user location of user  follower
0  shroud  California, USA   1885139

In [56]:
def twitter_viewer_locations(consumer_key, consumer_secret, access_token,access_token_secret, user, date, item_count):
    '''Takes secrets, username on twitter and starting date (format yyyy-mm-dd)'''
    auth = tw.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tw.API(auth, wait_on_rate_limit=True)
    new_search = f"@{user}"
    date_since = f"{date}"

    tweets = tw.Cursor(api.search, 
                               q=new_search,
                               lang="de",
                               since=date_since).items(item_count)
    users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]
    tweet_text = pd.DataFrame(data=users_locs, 
                        columns=['user', "location"])
    locations = ' '.join(tweet_text['location'].to_list())
    places = geograpy.get_geoPlace_context(text = locations)
    frequent_locations = {'cities': places.cities, 'countries': places.countries}
    return frequent_locations

In [65]:
from tweepy import OAuthHandler
from tweepy import API
from tweepy import Cursor
from datetime import datetime, date, time, timedelta
from collections import Counter

In [74]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [105]:
def plenty_info(consumer_key, consumer_secret, access_token,access_token_secret, user):
    '''Takes secrets, username on twitter to get twitter username, location of user and follower count'''
    auth = tw.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tw.API(auth, wait_on_rate_limit=True)
    item = api.get_user(target)
    name = item.name
    location = item.location
    screen_name = item.screen_name
    description = item.description
    status_count = item.statuses_count
    friends_count = item.friends_count
    followers_count = item.followers_count
    tweets = item.statuses_count
    account_created_date = item.created_at
    delta = datetime.utcnow() - account_created_date
    account_age_days = delta.days
    tweets_per_day = round((float(tweets)/float(account_age_days)),2)
    return pd.DataFrame(data=[[name, screen_name, location,  description, status_count, friends_count, followers_count, account_age_days, tweets_per_day]], columns=['usename','screen_name', 'location', 'description', 'statuses_count', 'friends_count', 'followers_count', 'Account age (in days)', 'tweets per day'])

In [106]:
plenty_info(consumer_key, consumer_secret, access_token,access_token_secret, "NoWay4u_sir")

,usename,screen_name,location,description,statuses_count,friends_count,followers_count,Account age (in days),tweets per day
0,Frederik Hinteregger,noway4u_sir,"M√ºnchen, Bayern",Twitchstreamer und Flammkuchenconnoisseur,5145,207,64198,2067,2.49

In [89]:
hashtags = []
mentions = []
tweet_count = 0
end_date = datetime.utcnow() - timedelta(days=365)
for status in Cursor(api.user_timeline, id=target).items():
    tweet_count += 1
    if hasattr(status, "entities"):
        entities = status.entities
        if "hashtags" in entities:
            for ent in entities["hashtags"]:
                if ent is not None:
                    if "text" in ent:
                        hashtag = ent["text"]
                        if hashtag is not None:
                            hashtags.append(hashtag)
        if "user_mentions" in entities:
            for ent in entities["user_mentions"]:
                if ent is not None:
                    if "screen_name" in ent:
                        name = ent["screen_name"]
                if name is not None:
                    mentions.append(name)
        if status.created_at < end_date:
            break

In [90]:
print("Most mentioned Twitter users:")
for item, count in Counter(mentions).most_common(10):
    print(item + "\t" + str(count))

print("Most used hashtags:")
for item, count in Counter(hashtags).most_common(10):
    print(item + "\t" + str(count))

print("All done. Processed " + str(tweet_count) + " tweets.")

Most mentioned Twitter users:
Broeki2	35
teamAHG	21
LoLSola	15
LPGjustJohnny	15
Xiohlol	12
itskarni	11
PandarEUW	11
paint_tainted	10
Agurinlol	10
Autophil_lol	10
Most used hashtags:
ALDIGaming	2
Werbung	2
MagentaeTrophy	2
W√ºrfelqueue	2
PrimeLeague	1
aldigaming	1
AldiGaming	1
AllStar2020	1
Ad	1
chefsache	1
All done. Processed 1063 tweets.

In [33]:
locations

" New Brunswick, Canada     Cologne, Germany Berlin, Germany     C√≥rdoba, Espa√±a  Ark Cradle Bosnia and Herzegovina  J  Italia Riverside, CA  Dortmund, Deutschland    Sainte-Verge, France he/himüè≥Ô∏è\u200d‚ößÔ∏è  intj     London, England Graz, √ñsterreich   Beach mansion in Bristol   ùî±ùî¢ùîûùîØùî∞    Hinter dir (DE)  Enemy's Nexus Tokyo‚úàÔ∏èBerlin Enemy's Nexus  "

In [36]:
places = geograpy.get_geoPlace_context(text = locations)

places.countries

['London', 'Bristol', 'New Brunswick']

# Trying Sentiment Analysis

In [1]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import twitter_samples, stopwords
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
from nltk import FreqDist, classify, NaiveBayesClassifier

import re, string, random

def remove_noise(tweet_tokens, stop_words = ()):

    cleaned_tokens = []

    for token, tag in pos_tag(tweet_tokens):
        token = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+#]|[!*\(\),]|'\
                       '(?:%[0-9a-fA-F][0-9a-fA-F]))+','', token)
        token = re.sub("(@[A-Za-z0-9_]+)","", token)

        if tag.startswith("NN"):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'

        lemmatizer = WordNetLemmatizer()
        token = lemmatizer.lemmatize(token, pos)

        if len(token) > 0 and token not in string.punctuation and token.lower() not in stop_words:
            cleaned_tokens.append(token.lower())
    return cleaned_tokens

def get_all_words(cleaned_tokens_list):
    for tokens in cleaned_tokens_list:
        for token in tokens:
            yield token

def get_tweets_for_model(cleaned_tokens_list):
    for tweet_tokens in cleaned_tokens_list:
        yield dict([token, True] for token in tweet_tokens)

if __name__ == "__main__":

    positive_tweets = twitter_samples.strings('positive_tweets.json')
    negative_tweets = twitter_samples.strings('negative_tweets.json')
    text = twitter_samples.strings('tweets.20150430-223406.json')
    tweet_tokens = twitter_samples.tokenized('positive_tweets.json')[0]

    stop_words = stopwords.words('english')

    positive_tweet_tokens = twitter_samples.tokenized('positive_tweets.json')
    negative_tweet_tokens = twitter_samples.tokenized('negative_tweets.json')

    positive_cleaned_tokens_list = []
    negative_cleaned_tokens_list = []

    for tokens in positive_tweet_tokens:
        positive_cleaned_tokens_list.append(remove_noise(tokens, stop_words))

    for tokens in negative_tweet_tokens:
        negative_cleaned_tokens_list.append(remove_noise(tokens, stop_words))

    all_pos_words = get_all_words(positive_cleaned_tokens_list)

    freq_dist_pos = FreqDist(all_pos_words)
    print(freq_dist_pos.most_common(10))

    positive_tokens_for_model = get_tweets_for_model(positive_cleaned_tokens_list)
    negative_tokens_for_model = get_tweets_for_model(negative_cleaned_tokens_list)

    positive_dataset = [(tweet_dict, "Positive")
                         for tweet_dict in positive_tokens_for_model]

    negative_dataset = [(tweet_dict, "Negative")
                         for tweet_dict in negative_tokens_for_model]

    dataset = positive_dataset + negative_dataset

    random.shuffle(dataset)

    train_data = dataset[:7000]
    test_data = dataset[7000:]

    classifier = NaiveBayesClassifier.train(train_data)

    print("Accuracy is:", classify.accuracy(classifier, test_data))

    print(classifier.show_most_informative_features(10))

    custom_tweet = "I ordered just once from TerribleCo, they screwed up, never used the app again."

    custom_tokens = remove_noise(word_tokenize(custom_tweet))

    print(custom_tweet, classifier.classify(dict([token, True] for token in custom_tokens)))

LookupError:
**********************************************************************
  Resource twitter_samples not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('twitter_samples')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/twitter_samples

  Searched in:
    - '/Users/home/nltk_data'
    - '/Users/home/.pyenv/versions/3.8.6/envs/starfish/nltk_data'
    - '/Users/home/.pyenv/versions/3.8.6/envs/starfish/share/nltk_data'
    - '/Users/home/.pyenv/versions/3.8.6/envs/starfish/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************